<section class="postlist">
  {% for post in postslist | reverse %}
    {% set currentPost = post.data.post %}
    <article class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
      <a href="{{ post.url | url }}" class="postlist-link">
        <h2 class="postlist-title">
          {% if currentPost.title %}
            {{ currentPost.title }}
          {% else %}
            <code>{{ post.url }}</code>
          {% endif %}
        </h2>
      </a>
      <time class="postlist-date" datetime="{{ currentPost.publishedAt }}">{{ currentPost.publishedAt| readableDate }}</time>
      {%- if post.data.post.excerpt -%}
        <p>{{ post.data.post.excerpt | markdownify | safe }}</p>
      {%- endif -%}
    </article>
  {% endfor %}
</section>