@import './_colors.scss';
@import './_breakpoints.scss';

header {   
    grid-area: header;
    background: white;
    padding: .5rem;
    position: sticky;
    top:0;
    z-index: 2;
    border-bottom: 1px solid $color-grey;
    .container{
        max-width: $desktop;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 40px 1fr 1fr;
        align-items: center;
    }
    h1 {
        margin: 0;
        font-size: 1.3rem;
        a {
            color: $color-grey-dark;
            text-decoration: none;
        }
    }
    img{
        width: 40px;
    }
    nav {
        display: flex;
        gap: 1rem;
    }
}