@import "./colors.scss";
@import "./reset.scss";
@import "./layout.scss";

@import "./header.scss";
@import "./footer.scss";

@import "./postslist.scss";

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  background: $color-grey-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "DM Serif Display", Georgia, serif;
}
a {
  color: $color-blue;
  font-weight: 300;
  &:hover {
    text-decoration: none;
  }
}
