@import './colors.scss';
@import './reset.scss';
@import './layout.scss';

@import './header.scss';
@import './footer.scss';

body {
  min-height: 100vh;
  font-family: 'DM Serif Display', Georgia, serif;
  background: $color-grey-light;
}
a {
    color: $color-blue; 
    &:hover{
      text-decoration: none;
    }   
}


