---
layout: layouts/author.njk
tags: ['nav', 'myAuthor']
navtitle: Auteurs
date: 2022-02-01
pagination:
  alias: author
  data: authors
  size: 1
  addAllPagesToCollections: true
permalink: authors/{{ author.name | slug }}/index.html
---


<h1>Liste des auteurs</h1>

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
