---
layout: layouts/home.njk
tags: nav
date: 2022-03-01
navtitle: Contact
---

<h1>Contactez-nous</h1>

<p>Pour nous contacter, rien de plus simple, envoyez-nous votre demande à cette adresse <a href="mailto:xxx@aaa.fr">xxx@aaa.fr</a>.</p>


<p><a href="{{ '/' | url }}">← Home</a></p>