---
layout: layouts/home.njk
tags: nav
date: 2022-01-01
navtitle: Accueil
---

<h1>Derniers articles</h1>

{% set postslist = collections.myPosts %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
